// app global css in SCSS form
@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@2.0/nanumsquare.css);
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import url('//fonts.googleapis.com/earlyaccess/nanumpenscript.css');
@font-face {
  font-family: 'MBC1961M';
  src: url('../assets/MBC1961M.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
  user-select: none;
  -webkit-user-drag: none;
  font-family: "NanumSquare", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

.inner-wrapper {
  width: 100%;
  padding: 0 18px;
}

.custom-font {
  font-family: 'MBC1961M', sans-serif !important;
}
.custom-font-size {
  font-family: 'Nanum Pen Script', cursive;
}
.main-bg{
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("/public/background/MAIN.png");
}